<div class="d-flex justify-content-center">
  <div class="stitch font text-center mb-4 header-width">
    連絡帳一覧
  </div>
</div>
<div class="mt-4">
  <% @notes.each do |note| %>
    <div class="mb-4">
      <div class="stitch-index bgc-green font text-center mb-1"><%= l note.date, format: :long %></div>
      <div class="mb-3 font format-width mx-auto bgc-grey break-word text-nowrap centering text-center py-1">
        <%= link_to note, class: "notes-index-btn d-block bgc-blue" do %>
          <i class="fas fa-book-open"></i> <span class="d-none d-md-inline">確認</span>
        <% end %>
        <%= link_to edit_note_path(note), class: "notes-index-btn d-block bgc-org" do %>
          <i class="fas fa-exchange-alt"></i> <span class="d-none d-md-inline">変更</span>
        <% end %>
        <%= link_to note_path(note), method: :delete, data: { confirm: "削除しますか?" }, class: "notes-index-btn d-block bgc-pink" do %>
          <i class="far fa-times-circle"></i> <span class="d-none d-md-inline">削除</span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<%= paginate @notes %>
<% if current_user.notes.find_by(date: Date.today).nil? %>
  <div class="my-4 d-flex justify-content-center">
    <%= link_to new_note_path, class: "submit-button text-center py-3 px-2 font font-size" do %>
      <i class="far fa-edit"></i> 今日の連絡帳を記入
    <% end %>
  </div>
<% end %>
<%= render 'layouts/footer-menus' %>
