<div class="d-flex justify-content-center mb-4">
  <div class="stitch font text-center mb-4 header-width">
    連絡帳詳細
  </div>
</div>
<div class="stitch-index bgc-pink font text-center mb-2">日付</div>
<div class="mb-3 font text-center"><%= l @note.date %></div>
<div class="stitch-index bgc-org font text-center mb-2">体調</div>
<div class="mb-3 font text-center"><%= @note.condition %></div>
<div class="stitch-index bgc-green font text-center mb-2">機嫌</div>
<div class="mb-3 font text-center"><%= @note.humor %></div>
<div class="stitch-index bgc-blue font text-center mb-2">体温</div>
<div class="mb-3 font text-center"><%= @note.temp %>度</div>
<div class="stitch-index bgc-grey font text-center mb-2">メッセージ</div>
<div class="mb-3 font text-left format-width mx-auto bgc-grey"><%= @note.message %></div>
<%= render 'layouts/footer-menus' %>
