<div class="d-flex justify-content-center mt-3 mb-3">
  <section class="card border-dark mt-3 font" >
    <div class="card-header text-left font-size">
      なまえ：<%= current_user.name %>
    </div>
    <div class="card-body">
      <p class="card-text font font-size">きたじかん　：
        <%= l @reception&.arrive, format: :short if @reception.present? %>
      </p>
    </div>
    <div class="card-body">
      <p class="card-text font font-size">かえるじかん：
        <%= l @reception.leave, format: :short if @reception.present? && @reception.leave.present? %>
      </p>
    </div>
  </section>
</div>
<div>
  <% if @reception.nil? %>
    <div class="d-flex justify-content-center">
      <%= button_to "ついたよ",{controller: 'receptions', action: 'update'},{method: :patch, class: "button-text reception-button arrive-active mt-4 mr-3", remote: true } %>
      <%= button_to "かえるよ",{controller: 'receptions', action: 'update'},{method: :patch, class: "button-text reception-button mt-4 btn-disable ml-3", disabled: true } %>
    </div>
  <% elsif @reception.leave.nil? %>
    <div class="d-flex justify-content-center">
      <%= button_to "ついたよ",{controller: 'receptions', action: 'update'},{method: :patch, class: "button-text reception-button mt-4 mr-3 btn-disable ml-3", disabled: true } %>
      <%= button_to "かえるよ",{controller: 'receptions', action: 'update'},{method: :patch, class: "button-text reception-button mt-4", remote: true } %>
    </div>
  <% else %>
  <% end %>
</div>
