<% if user_signed_in? %>
  <%# <div class="stitch text-center">各機能の使い方について</div> %>
<% else %>
  <div class="stitch text-center my-3">このアプリについて</div>
<% end %>
<div id="carouselExampleIndicators" class="carousel slide carousel-fade mb-3" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <% if user_signed_in? %>
        <%= image_tag asset_path("houday1.jpg", alt: "First slide"), class: "d-block w-100" %>
      <% else %>
        <%= image_tag asset_path("houday4.jpg", alt: "First slide"), class: "d-block w-100" %>
      <% end %>
    </div>
    <div class="carousel-item">
      <% if user_signed_in? %>
        <%= image_tag asset_path("houday2.jpg", alt: "Second slide"), class: "d-block w-100" %>
      <% else %>
        <%= image_tag asset_path("houday5.jpg", alt: "Second slide"), class: "d-block w-100" %>
      <% end %>
    </div>
    <div class="carousel-item">
      <% if user_signed_in? %>
        <%= image_tag asset_path("houday3.jpg", alt: "Third slide"), class: "d-block w-100" %>
      <% else %>
        <%= image_tag asset_path("houday6.jpg", alt: "Third slide"), class: "d-block w-100" %>
      <% end %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
