<header>
  <nav class="navbar navbar-expand navbar-dark bg-dark ">
    <a class="navbar-brand" href="/">Houday Web Note</a>
    <div id="Navber">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "受付",receptions_path, class:'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "連絡帳",notes_path, class:'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "月間予定",edit_calendars_path, class:'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "今日の利用状況",receptions_path, class:'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'アカウント編集', edit_user_registration_path, class:'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'nav-link', data: {confirm: "ログアウトしますか？"} %>
          </li>
        <% else %>
          <li class="nav-item active">
            <%= link_to "新規登録", new_user_registration_path, class:'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "ログイン", new_user_session_path, class:'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'ゲストログイン(閲覧用)', users_guest_sign_in_path, method: :post, class:'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
