<!DOCTYPE html>
<html>
  <head>
    <title>HoudayWebNote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@Yasu"/>
    <meta property="og:url" content="https://houday-web-note.herokuapp.com/"/>
    <meta property="og:title" content="放課後等デイサービス専用アプリHouday Web Note"/>
    <meta property="og:description" content="これはポートフォリオサイトです。"/>
    <meta property="og:image" content="public/images/houday-web-note.jpg"/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'calendar', 'data-turbolinks-track': 'reload' if controller_name == 'calendars' %>
    <%#= javascript_pack_tag 'reception', 'data-turbolinks-track': 'reload' if controller_name == 'receptions' %>
    <%= Gon::Base.render_data if controller_name == 'calendars' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>
  <body>
    <div class="wrapper">
      <%= render "layouts/header" %>
      <%= render "layouts/flash" %>
      <div class="container-fluid <%= devise_controller? ? 'mw-md' : 'mw-xl' %>">
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
