<!DOCTYPE html>
<html>
  <head>
    <title>HoudayWebNote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'calendar', 'data-turbolinks-track': 'reload' if controller_name == 'calendars' %>
    <%= Gon::Base.render_data if controller_name == 'calendars' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/flash" %>
    <div class="container-fluid <%= devise_controller? ? 'mw-md' : 'mw-xl' %>">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
